<h1 mat-dialog-title>Add new board</h1>
<mat-dialog-content>
	<div class="input-box mb-3">
		<label class="mb-2">Enter Title</label>
		<input type="text" name="title" class="px-2 py-2" [(ngModel)]="board.title" autocomplete="off" placeholder="title">
	</div>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-button mat-dialog-close [mat-dialog-close]="board" color="accent" class="px-3 mr-1 accent-border">
		<span>Add board</span>
	</button>
	<button mat-button (click)="cancel()" color="warn">Cancel</button>
</mat-dialog-actions>