<mat-card class="mat-elevation-z0">
	<mat-card-title>
		<h1 class="board-heading">
			<span>{{ board.title }}</span>
			<ng-content></ng-content>
			<span class="fill-space"></span>
			<mat-icon class="icon" (click)="openBoardSettingsDialog()">settings</mat-icon>
		</h1>
	</mat-card-title>
	<mat-card-content>
		<div class="tasks"
			cdkDropList
			cdkDropListOrientation="vertical"
			(cdkDropListDropped)="drop($event)">
			<div *ngFor="let task of board.tasks"	
				class="task p-3 mb-2" 
				cdkDrag
				[ngClass]="task.label"
				(click)="openUpdateTaskDialog(task)">
				{{ task.content }}
			</div>
		</div>
	</mat-card-content>
	<mat-card-footer class="px-3 pb-3">
		<button mat-stroked-button color="accent" class="px-3 mr-3 accent-border" (click)="openAddTaskDialog()">
			<span>New task</span>
		</button>
		<button mat-button color="warn" class="px-1" (click)="deleteBoard()">
			<span>Delete board</span>
		</button>
	</mat-card-footer>
</mat-card>