<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <div class="sidenav-hero px-3">
      <a mat-list-item class="logo" routerLink="/">
        <span>KanBan</span>
      </a>
    </div>
    <mat-nav-list>
      <a mat-list-item class="route" (click)="close()" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a mat-list-item class="route" (click)="auth.googleLogin();close()">Google Login</a>
      <a mat-list-item class="route" (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <nav class="px-3">
      <button
        type="button"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="page-title">
        <span>{{ pageTitle }}</span>
      </div>
      <span class="fill-space"></span>
      <div *ngIf="user$ | async as user" class="user-info">
        <span class="name">{{ user.displayName.split(' ')[0] }}</span>
        <img [src]="user.photoURL" alt="user_image">
      </div>
    </nav>
    <!-- Add Content Here -->
    <div class="p-3">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
